In [82]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv('fordgobike-tripdataFor201902.csv')
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,32:10.1,01:56.0,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,53:21.8,42:03.1,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,13:13.2,24:08.1,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,54:26.0,02:36.8,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes

In [83]:
df.shape

(183416, 16)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183416 entries, 0 to 183415
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             183416 non-null  int64
 1   start_time               183416 non-null  object
 2   end_time                 183416 non-null  object
 3   start_station_id         183219 non-null  float64
 4   start_station_name       183219 non-null  object
 5   start_station_latitude   183416 non-null  float64
 6   start_station_longitude  183416 non-null  float64
 7   end_station_id           183219 non-null  float64
 8   end_station_name         183219 non-null  object
 9   end_station_latitude     183416 non-null  float64
 10  end_station_longitude    183416 non-null  float64
 11  bike_id                  183416 non-null  int64
 12  user_type                183416 non-null  object
 13  member_birth_year        175151 non-null  float64
 14  member_gender            175151 non-null  object
 15  bike_share_for_all_trip  183416 non-null  object
dtypes: float64(7), int64(2), object(7)
memory usage: 22.4+ MB

In [85]:
df['user_type']=df['user_type'].astype('category')
df['member_gender']=df['member_gender'].astype('category')

df['start_station_id']=df['start_station_id'].astype('str')
df['end_station_id']=df['end_station_id'].astype('str')

In [86]:
# df['start_time']=pd.to_datetime(df['start_time'])
# df['end_time']=pd.to_datetime(df['end_time'])

In [87]:
df.duplicated().sum()

np.int64(4)

In [88]:
df=df.drop_duplicates()

In [89]:
df.duplicated().sum()

np.int64(0)

In [90]:
df.isnull().sum()

duration_sec                  0
start_time                    0
end_time                      0
start_station_id              0
start_station_name          197
start_station_latitude        0
start_station_longitude       0
end_station_id                0
end_station_name            197
end_station_latitude          0
end_station_longitude         0
bike_id                       0
user_type                     0
member_birth_year          8265
member_gender              8265
bike_share_for_all_trip       0
dtype: int64

Fixing missing values
***********************************

In [ ]:
# mode1=df['member_gender'].mode()
# # df['member_gender'].fillna(mode1,inplace=True)
# df.fillna({'member_gender': mode1}, inplace=True)
df["member_gender"] = df["member_gender"].cat.add_categories("Unknown")
df["member_gender"].fillna("Unknown", inplace=True)

In [ ]:
median1=df['member_birth_year'].median()
df['member_birth_year'].fillna(median1,inplace=True)

In [93]:
df.dropna(subset=["start_station_id", "end_station_id",
                   "start_station_name", "end_station_name"], inplace=True)

In [94]:
df.shape

(183215, 16)

In [95]:
df.isnull().sum()

duration_sec               0
start_time                 0
end_time                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bike_id                    0
user_type                  0
member_birth_year          0
member_gender              0
bike_share_for_all_trip    0
dtype: int64

In [96]:
df.shape

(183215, 16)

remove outliers
**************************************

In [ ]:
df = df[(df["duration_sec"] >= 60) & (df["duration_sec"] <= 10800)]

current_year = 2026 
df = df[(current_year - df["member_birth_year"] >= 16) &
        (current_year - df["member_birth_year"] <= 85)]

4    52
5    67
6    43
7    37
8    38
Name: age, dtype: int64

standardize categories
*************************

In [98]:
df["bike_share_for_all_trip"] = df["bike_share_for_all_trip"].map(
    {"Yes": True, "No": False}
).astype(bool)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182595 entries, 4 to 183411
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             182595 non-null  int64
 1   start_time               182595 non-null  object
 2   end_time                 182595 non-null  object
 3   start_station_id         182595 non-null  object
 4   start_station_name       182595 non-null  object
 5   start_station_latitude   182595 non-null  float64
 6   start_station_longitude  182595 non-null  float64
 7   end_station_id           182595 non-null  object
 8   end_station_name         182595 non-null  object
 9   end_station_latitude     182595 non-null  float64
 10  end_station_longitude    182595 non-null  float64
 11  bike_id                  182595 non-null  int64
 12  user_type                182595 non-null  category
 13  member_birth_year        182595 non-null  float64
 14  member_gender            182595 non-null  category
 15  bike_share_for_all_trip  182595 non-null  bool
dtypes: bool(1), category(2), float64(5), int64(2), object(6)
memory usage: 20.0+ MB

trip duration in minutes
****************************

In [99]:
df['duration_min']=(df["duration_sec"] / 60).round(2)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182595 entries, 4 to 183411
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             182595 non-null  int64
 1   start_time               182595 non-null  object
 2   end_time                 182595 non-null  object
 3   start_station_id         182595 non-null  object
 4   start_station_name       182595 non-null  object
 5   start_station_latitude   182595 non-null  float64
 6   start_station_longitude  182595 non-null  float64
 7   end_station_id           182595 non-null  object
 8   end_station_name         182595 non-null  object
 9   end_station_latitude     182595 non-null  float64
 10  end_station_longitude    182595 non-null  float64
 11  bike_id                  182595 non-null  int64
 12  user_type                182595 non-null  category
 13  member_birth_year        182595 non-null  float64
 14  member_gender            182595 non-null  category
 15  bike_share_for_all_trip  182595 non-null  bool
 16  duration_min             182595 non-null  float64
dtypes: bool(1), category(2), float64(6), int64(2), object(6)
memory usage: 21.4+ MB

In [106]:
df["age"] = current_year - df["member_birth_year"].astype(int)

bins   = [0,  25,  35,  45,  60,  100]
labels = ["<25", "25-34", "35-44", "45-59", "60+"]
df["age_group"] = pd.cut(df["age"], bins=bins, labels=labels, right=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182595 entries, 4 to 183411
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             182595 non-null  int64
 1   start_time               182595 non-null  object
 2   end_time                 182595 non-null  object
 3   start_station_id         182595 non-null  object
 4   start_station_name       182595 non-null  object
 5   start_station_latitude   182595 non-null  float64
 6   start_station_longitude  182595 non-null  float64
 7   end_station_id           182595 non-null  object
 8   end_station_name         182595 non-null  object
 9   end_station_latitude     182595 non-null  float64
 10  end_station_longitude    182595 non-null  float64
 11  bike_id                  182595 non-null  int64
 12  user_type                182595 non-null  category
 13  member_birth_year        182595 non-null  float64
 14  member_gender            182595 non-null  category
 15  bike_share_for_all_trip  182595 non-null  bool
 16  duration_min             182595 non-null  float64
 17  age                      182595 non-null  int64
 18  age_group                182595 non-null  category
dtypes: bool(1), category(3), float64(6), int64(3), object(6)
memory usage: 23.0+ MB