In [72]:
import pandas as pd
import numpy as np

In [9]:
s=pd.Series([1,2,3,4])
# s
# type(s)
s1=pd.Series([1,2,3,4],index=['A','B','C','D'])
s1

A    1
B    2
C    3
D    4
dtype: int64

In [16]:
data=[[1,444,'abc'],
      [2,555,'def'],
      [3,666,'ghi'],
      [4,444,'xyz']
      ]
data_2={'ID':[1,2,3,4],
        'std_id_dict':[444,555,666,444]
        ,'dept':['abc','def','ghi','xyz']}

# df=pd.DataFrame(data,columns=['ID','std_id','Dept'])
df=pd.DataFrame(data_2)
# df
display(df)

   ID  std_id_dict dept
0   1          444  abc
1   2          555  def
2   3          666  ghi
3   4          444  xyz

In [17]:
df.columns

Index(['ID', 'std_id_dict', 'dept'], dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
index=['row1','row2','row3','row4']
df.index=index
display(df)
# o,s,f,i,bool............data type

      ID  std_id_dict dept
row1   1          444  abc
row2   2          555  def
row3   3          666  ghi
row4   4          444  xyz

In [25]:
display(df.dtypes)
df['dept'].dtype

ID              int64
std_id_dict     int64
dept           object
dtype: object

dtype('O')

In [23]:
# property recap
class person:
    def __init__(self,name):
        self.name=name
        
    @property
    def getInfo(self):
        return f"my name is {self.name}"
    
p1=person('George')
p1.getInfo

'my name is George'

In [27]:
df['dept']=df['dept'].astype('category')
df['dept'].dtype

CategoricalDtype(categories=['abc', 'def', 'ghi', 'xyz'], ordered=False, categories_dtype=object)

In [28]:
df.dtypes

ID                int64
std_id_dict       int64
dept           category
dtype: object

In [ ]:
df.head(2)#5 default

      ID  std_id_dict dept
row1   1          444  abc
row2   2          555  def

In [ ]:
df.tail(3)#5

      ID  std_id_dict dept
row2   2          555  def
row3   3          666  ghi
row4   4          444  xyz

In [33]:
df.describe()

             ID  std_id_dict
count  4.000000     4.000000
mean   2.500000   527.250000
std    1.290994   106.274409
min    1.000000   444.000000
25%    1.750000   444.000000
50%    2.500000   499.500000
75%    3.250000   582.750000
max    4.000000   666.000000

In [34]:
df.describe(include='category')

       dept
count     4
unique    4
top     abc
freq      1

In [42]:
x=df['std_id_dict'].unique().sum()
x

np.int64(1665)

In [43]:
df['std_id_dict'].max()

666

In [45]:
df.dept.idxmax()
df.dept.idxmin()

'row1'

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, row1 to row4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           4 non-null      int64
 1   std_id_dict  4 non-null      int64
 2   dept         4 non-null      category
dtypes: category(1), int64(2)
memory usage: 476.0+ bytes

In [47]:
df['dept'].value_counts()

dept
abc    1
def    1
ghi    1
xyz    1
Name: count, dtype: int64

In [51]:
def duplicate(x):
    return x*2

df['std_id_dict'].apply(lambda x:x*2)

row1     888
row2    1110
row3    1332
row4     888
Name: std_id_dict, dtype: int64

In [ ]:
df['ID'].iloc[2]
df['dept'].iloc[2]
df.iloc[1,1]#see

np.int64(555)

In [58]:
df.dept.iloc[0:2]
df.iloc[:,0:2]
df.iloc[:,-1:]

     dept
row1  abc
row2  def
row3  ghi
row4  xyz

In [59]:
df['new_col']=df.std_id_dict+df.ID
df

      ID  std_id_dict dept  new_col
row1   1          444  abc      445
row2   2          555  def      557
row3   3          666  ghi      669
row4   4          444  xyz      448

In [60]:
df.drop('new_col',axis=1)

      ID  std_id_dict dept
row1   1          444  abc
row2   2          555  def
row3   3          666  ghi
row4   4          444  xyz

In [63]:
df.drop(['row2','row3'],axis=0)

      ID  std_id_dict dept  new_col
row1   1          444  abc      445
row4   4          444  xyz      448

In [68]:
null=df.isnull()
null
df.isnull().sum()

ID             0
std_id_dict    0
dept           0
new_col        0
dtype: int64

In [ ]:
# show from 9:45 40??
def isNull(df):
    return

In [ ]:
pd.DataFrame(null).T